<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cores</title>
</head>
<body>
    <h1>Cadastro de Cores</h1> <hr>

    <form action="/cores/add" method="post"> 
        <label for="Descriçao da Cor"> Descrição:</label>
        <input type="text" id="cor_descricao" name="cor_descricao" placeholder = "Informe a cor">

        <label for="Referência"> Referência:</label>
        <input type="text" id="cor_referencia" name="cor_referencia" placeholder = "Informe a referência">
        
        <div class="button">
            <button type="submit">Gravar Registro </button>
        </div>
    </form>




</body>
</html>