<!-- /*
    lista de cores
*/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Cores</title>

    <!-- Bootstrap
    <link rel="stylesheet" href="../public/bootstrap-4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="style/style.css" >    
 -->

    <hr>
    <h3>
       <a href="/cores/add"> Adicionar Novas Cores </a>
    </h2>
    <h3>
    
</head>
<body>
   <h1> Lista de Cores </h1> <hr>
   <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Descrição</th>
              <th>Referencia</th>
          </tr>  
        </thead>
        <tbody>
            
               <% for (cor of cores){%>
                <tr>
                    <td><a href=<%= "/cores/views/" + cor.cor_codigo%>><%= cor.cor_codigo%></a></td>  
                    <td><%= cor.cor_descricao%></td>
                    <td><%= cor.cor_referencia%></td>                    
                </tr> 
            <%} %>

        </tbody>            
    </table>
</body>
</html>
