<!-- /*
    lista de cores
*/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Cores</title>
</head>
<body>
   <h1> Página da Cor Unica </h1> <hr>

   <a class="link" href="/cores">Voltar</a>
   
   <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Descrição</th>
              <th>Referencia</th>
          </tr>  
        </thead>
        <tbody>
                <tr>
                    <td><%=cor[0].cor_codigo%></td>                    
                    <td><%=cor[0].cor_descricao%></td>
                    <td><%=cor[0].cor_referencia%></td>                                        
                </tr>

        </tbody>
    </table>
</body>
</html>
